R4OS_MODULE_MANIFEST=2
KIND=R4X
NAME={ProjectName}
VERSION=0.1.0
LANGUAGE=C
SOURCE=src/main.c
ENTRY_MODE=app
APP_CLASS=gui
TARGET=/SOFTWARE/{ProjectName}/{ProjectName}.R4X
IMAGE_SCOPE=none
IMPORT=R4SYS:Query:1
IMPORT=R4DESK:Query:1
IMPORT=R4DRAW:Query:1
